@using Entities;
@using TestingSystem.Models;
@{
    Layout = "~/_Layout.cshtml";
    List<Test> tests = Common.TestBll.GetAll();
}
<hr/>
<div class="container container-tests">
    <div class="col-md-3 col-sm-6 hero-feature ">
        @foreach (var item in tests)
        {
            <div class="thumbnail">
                <div>
                    <h3>@item.Name</h3>
                    <form action="~/Tests pages/PassTheTest" method="post">
                        <input type="hidden" name="id" value="@item.Id" />
                        <button class="btn btn-success">Pass the test <i class="glyphicon glyphicon-arrow-right"></i></button>
                    </form>
                </div>
            </div>
        }
    </div>
</div>