@using TestingSystem.Models;
@using Entities;
@{
    Layout = "~/_Layout.cshtml";
}
@if (IsPost)
{
    var name = Request["name"];
    List<Test> searchTests = Common.TestBll.Search(name).ToList();
    <hr />
    <div class="container container-tests">
        <div class="col-md-3 col-sm-6 hero-feature ">
            @if (searchTests.Count != 0)
            {
                foreach (var item in searchTests)
                {
                    <div class="thumbnail">
                        <div>
                            <h3>@item.Name</h3>
                            <form action="~/Test/PassTheTest" method="post">
                                <input type="hidden" name="id" value="@item.Id" />
                                <button class="btn btn-success">Pass the test <i class="glyphicon glyphicon-arrow-right"></i></button>
                            </form>
                        </div>
                    </div>
                }
            }
            else
            {
                <h3>Test with name @name not found</h3>
            }
        </div>
    </div>
}
