@using TestingSystem.Models;
@if (!User.Identity.IsAuthenticated)
{
    Response.Redirect("~/Login");
}
@if (IsPost)
{
    try
    {
        var name = Request["Name"];

        if (string.IsNullOrWhiteSpace(name))
        {
            Response.SetStatus(HttpStatusCode.BadRequest);
        }
        Common.TestBll.Add(name);
    }
    catch (Exception)
    {
        Response.SetStatus(HttpStatusCode.BadRequest);
    }
    Response.Redirect("~/Index");
}
else
{
    Layout = "~/_Layout.cshtml";
    <div class="container">
        <form action="~/Tests pages/Add" method="post" class="form-horizontal">
            <fieldset>
                <div id="legend">
                    <legend class="">Add test</legend>
                </div>
                <div class="control-group">
                    <label class="control-label" for="Name">Name</label>
                    <div class="controls">
                        <input type="text" autocomplete="off" id="Name" name="Name" placeholder="" class="input-xlarge">
                        <p class="help-block">Name can contain any letters or numbers, without spaces</p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button class="btn btn-success ">Add</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
}